@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

header {
  ul {
    li {
      display: inline-block;
      padding: 20px;
    }
  }
}

.blue-bg {
  height: 100%;
  background: blue;
  overflow: auto;
  padding: 25px;
}

.danger-red {
  height: 100%;
  background: red;
  overflow: auto;
  padding: 25px;
}

.user-info {
  float: left;
  width: 50%;
  color: #fff;
  h3 {
    font-size: 30px;
  }
}

.logoImageComp {
  float: left;
  width: 50%;
  img {
    width: 400px;
  }
  h3 {
    font-size: 30px;
    color: #fff;
  }
}
